.app{
  min-height: 100vh;
  background: lightblue;
}

.Selection{
  display: flex;
  background: white;
  width: 25vw;
  margin-left: 10px;
  margin-bottom: 10px;
}
.space{
  margin: 10px;
}
.red{
  color:red;
  font-size: 50px;
}